
<form
    method ="POST"
    enctype="multipart/form-data"
    {% if producto %}
        hx-post="{% url 'administrador:editar_htmx' producto.id %}"
        hx-target="#producto-{{ producto.id }}"
        hx-swap="outerHTML"
    {% else %}
        hx-post="{% url 'administrador:crear_htmx' %}"
        hx-target="#productTableBody"
        hx-swap="beforeend"
    {% endif %}
    
    hx-on="htmx:afterSwap: window.dispatchEvent(new Event('modalProductoCerrado'))"
    >
    {% csrf_token %}
    {{ form.as_p }}

    <div class="d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">
            Cancelar
        </button>
        <button type="submit" class="btn {% if producto %}btn-primary{% else %}btn-success{% endif %}">
            {% if producto %}Actualizar{% else %}Crear{% endif %}
        </button>
    </div>
</form>

