{% extends "administrador/layout.html" %}
{% load static %}

{% block title %}
    Productos
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/productos.css' %}?v={{ timestamp }}">
    <!-- El timestamp es temporal para desarrollo -->
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="header">
        <h2>Productos</h2> 
        <hr>
    </div>
    <div class="botones">

    </div>
    <div class="header d-flex gap-2">
        <button class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#productModal"
            hx-get="{% url 'administrador:crear_partial' %}"
            hx-target="#productFormBody"
            hx-swap="innerHTML">
            + Nuevo
        </button>

        <a class="btn btn-success" href="{% url 'administrador:categorias' %}" role="button">
            Categorias
        </a>

    </div>
    
    <div class="filters">
        <div class="d-flex align-items-center gap-2 mb-2 w-75">
            <select 
                class="form-select w-auto" 
                style="min-width: 150px" 
                name="categoria">
                <option value="">Categorías</option>
                <option value="Clientes">Hamburguesas</option>
                <option value="Empleados">Papas Fritas</option>
                <option value="Proveedores">Bebidas</option>
            </select>

            <input 
                type="search" 
                placeholder="Buscar por nombre o código..." 
                class="form-control w-100" 
                id="searchInput" 
                name="search">
        </div>
    </div>
    
    <div class="table-contenedor w-100"> <!-- table-container -->
        <table class="table table-striped table-hover w-100">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Cód.</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="productTableBody"
                hx-get="{% url 'administrador:listar_partial' %}"
                hx-trigger="load"
                hx-swap="innerHTML">
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para añadir/editar producto -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Añadir Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="productFormBody">
                <!-- Se cargaran los datos de la bd -->
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/script.js' %}"></script>

{% endblock %}