{% load humanize custom_filters %}
<tr id="producto-{{ producto.id }}">
    <td>
        {% if producto.imagen %}
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="50" height="50">
        {% else %}
            <span class="text-muted">Sin imagen</span>
        {% endif %}
    </td>
    <td>{{ producto.codigo }}</td>
    <td>{{ producto.nombre }}</td>
    <td>{{ producto.precio|intcomma|punto_miles}} ₲</td>
    <td>{{ producto.categoria }}</td>
    <td>{{ producto.descripcion }}</td>
    <td>
        <button class="btn btn-outline-primary btn-sm" title="Editar"
            data-bs-toggle="modal"
            data-bs-target="#productModal"
            hx-get="{% url 'administrador:editar_partial' producto.id %}"
            hx-target="#productFormBody"
            hx-swap="innerHTML">
            <i class="bi bi-pencil-square"></i>
        </button>
        <button class="btn btn-outline-danger btn-sm" title="Eliminar"
            hx-post="{% url 'administrador:eliminar_htmx' producto.id %}"
            hx-target="#producto-{{ producto.id }}"
            hx-swap="outerHTML"
            hx-confirm="¿Quieres eliminar este producto?">
            <i class="bi bi-trash"></i>
        </button>

        <a class="btn btn-outline-success btn-sm" title="Ver ingredientes" href="{% url 'administrador:ingredientes' producto.id %}" role="button">
            <i class="bi bi-basket"></i>
            
        </a>
    </td>
</tr>
