{% extends 'pedidos/menu_productos.html' %}
{% load static %}

{% block body %}
    <div class="container my-5">
        <h2 class="text-center mb-4">🛒 Carrito de Compras</h2>

        {% if carrito %}
            <div id="carrito">
                <div class="table-responsive">
                    {% include 'pedidos/partials/lista_carrito.html' %}
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <div class="text-end">
                        <h4><strong>Total: <span id="total-carrito">{{ total }} Gs</span></strong></h4>
                        <div class="d-flex gap-2 justify-content-end mt-2">
                            <a href="{% url 'pedidos:menu_productos' %}" class="btn btn-danger">Seguir comprando</a>
                            <a href="{% url 'usuarios:sesion' %}" class="btn btn-success">Continuar compra</a>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <div class="alert alert-info text-center">
                El carrito está vacío.
            </div>
        {% endif %}

    </div>
{% endblock %}
