{% extends 'pedidos/menu_layout.html' %}
{% load static %}

{% block title %}
Menu
{% endblock %}

{% block body %}
  <!-- Menú de categorías -->
  <div class="my-4 bg-dark p-2 rounded" style="width: 60%; margin: 0 auto;">
    <ul class="nav nav-pills justify-content-center" id="menu-categorias">
      <li class="nav-item">
        <button class="nav-link active bg-dark"
            hx-get="{% url 'pedidos:lista_productos' %}"
            hx-target="#productos-lista"
            hx-swap="innerHTML">
          Todo
        </button>
      </li>
      {% for categoria in categorias %}
        <li class="nav-item">
          <button class="nav-link bg-dark text-white"
            hx-get="{% url 'pedidos:lista_productos' %}?categoria={{ categoria.nombre_categ|urlencode }}"
            hx-target="#productos-lista"
            hx-swap="innerHTML">
            {{ categoria.nombre_categ }}
          </button>
        </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Productos -->
  <section id="productos" class="container">
    <h2 class="text-center mb-4">Nuestros Productos</h2>
    <!-- Contenedor para htmx -->
    <div 
        hx-get="{% url 'pedidos:lista_productos' %}"
        hx-trigger="load"
        hx-target="#productos-lista"
        hx-swap="innerHTML">
        <!-- Se insertan los productos dinamicamente -->
        <div  id="productos-lista" class="productos-grid">
        </div>
    </div>
      <!-- Modal -->
    <div class="modal fade" id="personalizarModal" tabindex="-1" aria-labelledby="personalizarModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form
              id="form-personalizado"
              hx-post="{% url 'pedidos:agregar_al_carrito' %}"
              hx-swap="none"
              hx-trigger="submit"
              class="actualiza-contador">

              >
            <input type="hidden" name="producto_id" id="input-producto-id">
            {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="personalizarModalLabel">Personalizar Pedido</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
              <!-- Adicionales -->
              <div class="mb-4">
                <h6 class="fw-bold">Adicionales</h6>
                {% for adicional in adicionales %}
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="adicional[]" value="{{ adicional.id }}" id="adicional-{{ adicional.id }}">
                      <label class="form-check-label" for="adicional-{{ adicional.id }}">{{ adicional.nombre }} <span class="text-muted">+ Gs{{ adicional.precio }}</span>
                      </label>
                  </div>
                {% endfor %}
              </div>
              <!-- Sin -->
              <div class="mb-4">
                <h6 class="fw-bold">Sin</h6>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="sin[]" value="lechuga" id="lechuga">
                  <label class="form-check-label" for="lechuga">Sin lechuga</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="sin[]" value="cebolla" id="cebolla">
                  <label class="form-check-label" for="cebolla">Sin cebolla</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="sin[]" value="tomate" id="tomate">
                  <label class="form-check-label" for="tomate">Sin tomate</label>
                </div>
              </div>
              <!-- Comentarios -->
              <div class="mb-3">
                <label for="comentarios" class="form-label">Nota especial (comentario)</label>
                <input type="text" class="form-control" id="comentarios" name="comentarios" placeholder="Nota del producto">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Agregar al carrito</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

   <!-- Carga el input con el producto_id seleccionado -->
  <script>
    function cargarDatosProducto(boton) {
      const productoId = boton.getAttribute('data-producto-id');
      const productoNombre = boton.getAttribute('data-producto-nombre');

      // Rellenar el campo hidden con el ID del producto
      document.getElementById('input-producto-id').value = productoId;

      // (Opcional) Cambiar el título del modal
      document.getElementById('personalizarModalLabel').textContent = "Personalizar " + productoNombre;
    }
  </script>
{% endblock %}
