<div id="carrito">
    <div class="table-responsive">
        {% include 'pedidos/partials/lista_carrito.html' %}
    </div>

    {% if carrito %}
        <div class="d-flex justify-content-end mt-4">
            <div class="text-end">
                <h4><strong>Total: <span id="total-carrito">{{ total }} Gs</span></strong></h4>
                <div class="d-flex gap-2 justify-content-end mt-2">
                    <a href="{% url 'pedidos:menu_productos' %}" class="btn btn-danger">Seguir comprando</a>
                    <a href="" class="btn btn-success">Confirmar Compra</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
