{% for persona in personas %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ persona.cedula }}</td>
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.apellido }}</td>
        <td>{{ persona.tipo }}</td>
        <td>{{ persona.telefono }}</td>
        <td>
            <a href="{% url 'administrador:editar_persona' persona.id %}" class="btn btn-sm btn-outline-primary me-2">Editar</a>
            <a href="{% url 'administrador:eliminar_persona' persona.id %}" class="btn btn-sm btn-outline-danger me-2">Eliminar</a>
        </td>
    </tr>
{% endfor %}
